<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <insert id="saveSetmealDishs">
        insert into setmeal_dish (setmeal_id, dish_id, name, price, copies)
        values (#{setmealId}, #{dishId}, #{name}, #{price}, #{copies})
    </insert>
    <delete id="deleteSetmealDishs">
        delete from setmeal_dish where setmeal_id in
        <foreach collection="ids" item="setmealId" open="(" close=")" separator=",">
            #{setmealId}
        </foreach>
    </delete>

    <select id="select" resultType="com.sky.entity.SetmealDish">
        select * from setmeal_dish
        <where>
            <if test="setmealId!= null and setmealId!= ''">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishId!= null and dishId!= ''">
                and dish_id = #{dishId}
            </if>
            <if test="name!= null and name!= ''">
                and name = #{name}
            </if>
            <if test="price!= null and price!= ''">
                and price = #{price}
            </if>
            <if test="copies!= null and copies!= ''">
                and copies = #{copies}
            </if>
        </where>
    </select>

</mapper>